* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

canvas {
    background-color: black;
    border: 1px solid white;
}

html {
    background-color: black;
}

#add_body_form {
    margin: 1rem 0;
}

.flex_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: white;
}

.simulation {
    display: flex;
    flex-direction: row;
}

.ui {
    margin-left: 1rem;
}

.container_label {
    color: white;
    margin: 0;
}

.ui_container {
    margin-bottom: 1rem;
    max-width: 20rem;
}

.info, .info > * {
    color: white;
}

.info {
    margin-bottom: 2rem;
}

.info > p {
    margin: 0;
}